.eunit
deps
*.o
*.beam
*.plt
*.P
ebin/
js/
*~
erl_crash.dump
test/*_SUITE.erl
priv/prezi/
logs/
src_md/.erl
include_md/.hrl
test/not_passing/debug/
*.ast
*.ast2
*.ast3
*.tks
*.tks2
*.P
*.P2
include/
src/
priv/node_modules
priv/rebar_plugins