%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.

%% Erlang compiler options
{erl_opts, [no_debug_info,
            {i, "include"},
            {i, "/usr/local/lib/erlang/lib/compiler-4.9.2/src"},
            {src_dirs, ["src"]}
           ]}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, []}.

%% Same as erl_first_files, but used only when running 'eunit'
{eunit_first_files, []}.

%% == Cover ==

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, false}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.

%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "logs/"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s myapp"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.


%% == OTP Applications ==

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

%% What dependencies we have, dependencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision).
%% Rebar currently supports git, hg, bzr, svn, and rsync.

{deps, [
       {literate_erlang, ".*", {git, "git://github.com/hypernumbers/literate-erlang.git", "master"}, [raw]}
       % {erlware_commons, ".*", {git, "git://github.com/erlware/erlware_commons.git", "master"}}
       ]}.

%% {post_hooks, [{clean, "touch file1.out"},
%%              {"freebsd", compile, "c_src/freebsd_tweaks.sh"},
%%              {eunit, "touch file2.out"},
%%              {compile, "touch postcompile.out"}]}.

{plugins, [
           make_luvv,
           make_tests,
           compile_literate,
           markup
          ]}.

{plugin_dir, "priv/rebar_plugins"}.
